<h4>Elementos facturados</h4>
@if(item.length > 0){
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>ProductName</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      @for(nItem of item; track item){
        <tr>
          <td>{{nItem.id}}</td>
          <td>{{nItem.nameProducto}}</td>
          <td>{{nItem.price}}</td>
          <td>{{nItem.quantity}}</td>
          <td><button class="btn btn-outline-danger btn-sm"
            (click)="btnRemove(nItem.id)">Remove</button></td>
        </tr>
      }
    </tbody>
  </table>
}@else {
  <div class="alert alert-warning">
    <p>No hay elementos facturados</p>
  </div>
}

